<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NetWork_test</display-name>
  <listener>
      <listener-class>test.SocketServiceLoader</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>LajiServlet</servlet-name>
        <servlet-class>Servlet.LajiServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
  <servlet>
        <servlet-name>ReadEmailServlet</servlet-name>
        <servlet-class>Servlet.ReadEmailServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>ReceiveServlet</servlet-name>
        <servlet-class>Servlet.ReceiveServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>SendServlet</servlet-name>
        <servlet-class>Servlet.SendServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmailServlet</servlet-name>
        <servlet-class>Servlet.DeleteEmailServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>ResetpwdServlet</servlet-name>
        <servlet-class>Servlet.ResetpwdServlet</servlet-class>
        <enabled>true</enabled>
        <async-supported>true</async-supported>
    </servlet>
    
    
    
     <servlet-mapping>
    <servlet-name>ResetpwdServlet</servlet-name>
    <url-pattern>/Servlet/ResetpwdServlet</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>LajiServlet</servlet-name>
    <url-pattern>/Servlet/LajiServlet</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>ReadEmailServlet</servlet-name>
    <url-pattern>/Servlet/ReadEmailServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Servlet/LoginServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeleteEmailServlet</servlet-name>
    <url-pattern>/Servlet/DeleteEmailServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ReceiveServlet</servlet-name>
    <url-pattern>/Servlet/ReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/Servlet/SendServlet</url-pattern>
  </servlet-mapping>
</web-app>